[workspace]
resolver = "3"
members = ["crates/*"]

[workspace.package]
version = "0.8.2"
authors = ["Sven Kanoldt <sven@d34dl0ck.me>"]
edition = "2021"
license = "GPL-3.0-only"
repository = "https://github.com/sassman/t-rec-rs"

[workspace.dependencies]
osd-flash = { path = "crates/osd-flash" }

anyhow = "1.0"
log = "0.4"

objc2-foundation = "0.3.2"
objc2 = "0.6.3"

objc_id = "0.1.1"
objc-foundation = "0.1.1"
objc = "0.2.7"
libloading = "0.8"
core-graphics = "0.25.0"
core-foundation = "0.10.1"
core-foundation-sys = "0.8.7"
