name: Release Binary Assets
on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      tag-name:
        description: "Tag name"
        required: true
        default: "v0.1.0"

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            cross: false
            binName: t-rec
          - target: x86_64-apple-darwin
            os: macos-latest
            cross: false
            binName: t-rec
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            cross: false
            binName: t-rec.exe
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          override: true
      - name: extract tag from event
        if: github.event_name == 'release'
        run: echo "TAG=${{ github.event.release.tag_name }}" >> $GITHUB_ENV
      - name: extract tag from input
        if: github.event_name == 'workflow_dispatch'
        run: echo "TAG=${{ github.event.inputs.tag-name }}" >> $GITHUB_ENV
      - if: ${{ matrix.os == 'ubuntu-latest' }}
        name: install libX11-devel for libX11
        run: |
          sudo apt-get update
          sudo apt-get install -y libx11-dev
      - if: ${{ matrix.os == 'windows-latest' }}
        name: install ImageMagick and ffmpeg for Windows
        run: |
          winget install --id ImageMagick.ImageMagick --silent --accept-source-agreements --accept-package-agreements
          winget install --id Gyan.FFmpeg --silent --accept-source-agreements --accept-package-agreements
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          use-cross: ${{ matrix.cross }}
          args: --release --target=${{ matrix.target }}
      - name: Smoke Test
        uses: actions-rs/cargo@v1
        with:
          command: run
          use-cross: ${{ matrix.cross }}
          args: --release --target=${{ matrix.target }} -- --help
      - name: Create Archive
        id: archive
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            FILENAME="${{ matrix.binName }}-${{ env.TAG }}-${{ matrix.target }}.zip"
            7z a "$FILENAME" README.md LICENSE "./target/${{ matrix.target }}/release/${{ matrix.binName }}"
          else
            FILENAME="${{ matrix.binName }}-${{ env.TAG }}-${{ matrix.target }}.tar.gz"
            tar -czvf "$FILENAME" README.md LICENSE -C "target/${{ matrix.target }}/release" "${{ matrix.binName }}"
          fi
          echo "FILENAME=$FILENAME" >> $GITHUB_ENV
      - name: Upload Archive
        uses: ncipollo/release-action@v1.8.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: ${{ env.FILENAME }}
          tag: ${{ env.TAG }}
          artifactContentType: application/octet-stream
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          omitPrereleaseDuringUpdate: true

  pkg-deb:
    name: binary package .deb
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build .deb file
        env:
          TARGET: x86_64-unknown-linux-musl
          TAG: ${{ github.event.release.tag_name }}
        uses: sassman/rust-deb-builder@v1
      - name: extract tag from event
        if: github.event_name == 'release'
        run: echo "TAG=${{ github.event.release.tag_name }}" >> $GITHUB_ENV
      - name: extract tag from input
        if: github.event_name == 'workflow_dispatch'
        run: echo "TAG=${{ github.event.inputs.tag-name }}" >> $GITHUB_ENV
      - name: Archive deb artifact
        uses: actions/upload-artifact@v4
        with:
          name: t-rec-${{ env.TAG }}-x86_64-unknown-linux-musl.deb
          path: target/x86_64-unknown-linux-musl/debian/t-rec*.deb
      - name: upload deb file
        uses: ncipollo/release-action@v1.14.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: target/x86_64-unknown-linux-musl/debian/t-rec*.deb
          tag: ${{ env.TAG }}
          artifactContentType: application/octet-stream
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true
          omitPrereleaseDuringUpdate: true
